.info-panel {
  width: 400px;
  height: 100vh;
  background-color: $dark-gray-color;
  background-image: url("../img/info-background-image.png");
  background-repeat: no-repeat;
  background-size: 100% 15%;
  padding: 0 20px;
}
.info-panel-user {
  @extend %flex-center;
  padding: 130px 0 0 0;
}
.info-panel-user-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: white;
}
.info-panel-user-name {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0%;
  color: $text-color;
  margin: 19px 0 0 0;
}
.info-panel-user-topic-name {
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  letter-spacing: 0%;
  color: $text-dark-color;
  margin: 3px 0 0 0;
}
.info-panel-user-links {
  margin: 20px 0 0 0;
}
.info-panel-user-link {
}
.info-panel-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0%;
  margin: 60px 0 0 0;
  color: $text-color;
}
.info-panel-user-buttons {
  display: flex;
  justify-content: space-between;
  margin: 60px 0 0 0;
}
