$white-color: #ffffff;
$dark-color: #121212;
$dark-background: #181818;
$dark-gray-color: #202020;
$text-color: #d2d2d2;
$text-dark-color: #dedede;
$date-color: #828282;
$blue-color: #3137c9;
$min-width: 1000px;
$tablet: 869px;
$mobile: 399px;
